/*.log
.gitignore
/.htaccess
.htaccess
index.php
/license.txt
license.txt
/readme.html
readme.html
README.md
/sitemap.xml
/sitemap.xml.gz
fonts/
wp-admin/
wp-includes/
lyrics/
files.txt
default.htm
find-modified.php
php_errorlog
pma.php

wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

wp-content/cache/
wp-content/uploads/
wp-content/ai1wm-backups
wp-content/login-logo.png
wp-content/plugins/*
!wp-content/plugins/piklist
!wp-content/plugins/easy-digital-downloads
wp-content/themes/*
!wp-content/themes/musiks
